:root {
  --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-desaturated-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);
}

$bp-1: 56.25em; // 900px;
$bp-2: 25em; // 400px;

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color-scheme: dark light;

  @media only screen and (max-width: $bp-2) {
    font-size: 50%;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-size: 1.3rem;
  background-color: var(--color-light-grayish-blue);

  display: grid;
  place-items: center;
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

.main {
  width: min(85rem, 90%);
  border-radius: 0.75rem;

  display: flex;

  @media only screen and (max-width: $bp-1) {
    margin: 2rem;
    flex-direction: column;
  }

  &__illustration {
    width: 40%;
    border-radius: 0.75rem 0 0 0.75rem;
    overflow: hidden;

    @media only screen and (max-width: $bp-1) {
      width: 100%;
      border-radius: 1rem 1rem 0 0;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
  }

  &__img {
    height: 100%;
  }

  &__text-content {
    width: 60%;
    background-color: #fff;
    padding: 4rem;
    border-radius: 0 0.75rem 0.75rem 0;
    position: relative;

    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    @media only screen and (max-width: $bp-1) {
      width: 100%;
      border-radius: 0 0 1rem 1rem;
    }

    @media only screen and (max-width: $bp-2) {
      padding: 3.5rem;
    }
  }

  &__text {
    line-height: 1.7;
    color: var(--color-desaturated-dark-blue);
    font-size: 1.6rem;
  }

  &__profile-box {
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
  }

  &__profile-photo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &__profile-img {
    min-height: 100%;
  }

  &__profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__profile-name {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--color-very-dark-grayish-blue);
  }

  &__profile-date {
    color: var(--color-desaturated-dark-blue);
  }

  &__share-btn {
    margin-left: auto;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: block;
    padding: 1rem;
    border: none;
    cursor: pointer;
    background-color: var(--color-light-grayish-blue);
    transition: all 0.2s;

    @media only screen and (max-width: $bp-2) {
      padding: 0.75rem;
    }

    &:hover,
    &:active {
      background-color: var(--color-desaturated-dark-blue);
    }

    &--pop-up {
      display: none;
      margin-left: auto;
      background-color: var(--color-grayish-blue);
    }
  }

  &__share-icon {
    width: 100%;
    height: 100%;
    transition: all 0.2s;
    fill: var(--color-very-dark-grayish-blue);
    display: block;

    &--pop-up {
      fill: var(--color-light-grayish-blue);
    }
  }

  &__share-btn:hover &__share-icon {
    fill: var(--color-light-grayish-blue);
  }

  &__pop-up {
    background-color: var(--color-very-dark-grayish-blue);
    border-radius: 1rem;
    width: max-content;
    padding: 1.5rem 3rem;
    position: absolute;
    bottom: 30%;
    right: -5.2rem;

    display: none;
    column-gap: 1rem;
    align-items: center;

    @media only screen and (max-width: $bp-1) {
      right: 0;
      bottom: 10rem;
    }

    @media only screen and (max-width: $bp-2) {
      bottom: 0;
      right: 0;
      width: 100%;
      border-radius: 0 0 1rem 1rem;
      padding: 2.5rem;

      column-gap: 2rem;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 12px solid transparent;
      border-top-color: var(--color-very-dark-grayish-blue);
      border-bottom: 0;
      margin-left: -12px;
      margin-bottom: -10px;

      @media only screen and (max-width: $bp-1) {
        left: unset;
        right: 4.5rem;
      }

      @media only screen and (max-width: $bp-2) {
        display: none;
      }
    }
  }

  &__pop-up-text {
    text-transform: uppercase;
    color: var(--color-light-grayish-blue);
    letter-spacing: 0.5rem;
    font-size: 1.5;
  }

  &__socials-box {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    @media only screen and (max-width: $bp-2) {
      column-gap: 2rem;
    }
  }
}

.heading {
  color: var(--color-very-dark-grayish-blue);
  font-size: 2.5rem;

  @media only screen and (max-width: $bp-2) {
    font-size: 2rem;
  }
}

// State change

.unhide--pop-up {
  margin-top: 5rem;
  display: flex;
}

.unhide {
  display: block;
}

.hide {
  display: none;
}

.shareBtnBackground {
  background-color: var(--color-desaturated-dark-blue);
}

.shareBtnFill {
  fill: var(--color-light-grayish-blue);
}

.marginBottom {
  margin-bottom: 5rem;
}
