:root {
  --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-desaturated-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color-scheme: dark light;
}
@media only screen and (max-width: 25em) {
  html {
    font-size: 50%;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-size: 1.3rem;
  background-color: var(--color-light-grayish-blue);
  display: grid;
  place-items: center;
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

.main {
  width: min(85rem, 90%);
  border-radius: 0.75rem;
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .main {
    margin: 2rem;
    flex-direction: column;
  }
}
.main__illustration {
  width: 40%;
  border-radius: 0.75rem 0 0 0.75rem;
  overflow: hidden;
}
@media only screen and (max-width: 56.25em) {
  .main__illustration {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }
}
.main__photo {
  width: 100%;
  height: 100%;
}
.main__img {
  height: 100%;
}
.main__text-content {
  width: 60%;
  background-color: #fff;
  padding: 4rem;
  border-radius: 0 0.75rem 0.75rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
@media only screen and (max-width: 56.25em) {
  .main__text-content {
    width: 100%;
    border-radius: 0 0 1rem 1rem;
  }
}
@media only screen and (max-width: 25em) {
  .main__text-content {
    padding: 4.5rem;
  }
}
.main__text {
  line-height: 1.7;
  color: var(--color-desaturated-dark-blue);
  font-size: 1.6rem;
}
.main__profile-box {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
}
.main__profile-photo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}
.main__profile-img {
  min-height: 100%;
}
.main__profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__profile-name {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--color-very-dark-grayish-blue);
}
.main__profile-date {
  color: var(--color-desaturated-dark-blue);
}
.main__share-btn {
  margin-left: auto;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  display: block;
  padding: 1rem;
  border: none;
  cursor: pointer;
  background-color: var(--color-light-grayish-blue);
  transition: all 0.2s;
}
.main__share-btn--pop-up {
  display: none;
  margin-left: auto;
}
.main__share-btn:hover .main__share-icon {
  filter: invert(7%) sepia(99%) saturate(7281%) hue-rotate(247deg) brightness(103%) contrast(144%);
}
.main__share-icon {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.main__pop-up {
  background-color: var(--color-very-dark-grayish-blue);
  border-radius: 1rem;
  width: max-content;
  padding: 1.5rem 3rem;
  position: absolute;
  bottom: 30%;
  right: -5.2rem;
  display: none;
  column-gap: 1rem;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .main__pop-up {
    right: 0;
    bottom: 10rem;
  }
}
@media only screen and (max-width: 25em) {
  .main__pop-up {
    bottom: 0;
    right: 0;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
  }
}
.main__pop-up::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-top-color: var(--color-very-dark-grayish-blue);
  border-bottom: 0;
  margin-left: -12px;
  margin-bottom: -10px;
}
@media only screen and (max-width: 56.25em) {
  .main__pop-up::after {
    left: unset;
    right: 4.5rem;
  }
}
@media only screen and (max-width: 25em) {
  .main__pop-up::after {
    display: none;
  }
}
.main__pop-up-text {
  text-transform: uppercase;
  color: var(--color-light-grayish-blue);
  letter-spacing: 0.5rem;
  font-size: 1.5;
}
.main__socials-box {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.heading {
  color: var(--color-very-dark-grayish-blue);
  font-size: 2.5rem;
}
@media only screen and (max-width: 25em) {
  .heading {
    font-size: 2rem;
  }
}

.unhide--pop-up {
  margin-top: 5rem;
  display: flex;
}

.unhide {
  display: block;
}

.hide {
  display: none;
}

/*# sourceMappingURL=style.css.map */
